/*  Left bar results
/* ======================================= */

.results {
	height: 68%;
	text-align: left;
	background: rgba(255, 165, 0, 0.5);
	overflow-y: scroll;
	
	a {
		color: black;
	}

	.artist {
		margin-top: 10px;
		cursor: pointer;
	}

	p {
		width: 69%;
		display: inline-block;
		margin-left: 4px;
		vertical-align: middle;
	}

	.artist-pic {
		height: 40px;
		width: 40px;

	}
}