//Similar artists


.similar-artists {
	background: rgba(white, 0.5);
	height: 100%;
	text-align: center;

	h3 {
		margin-top: 0;
	}

	li {
		display: inline-block;
		margin-right: 10px;
  	margin-top: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}