//Similar artists


.similar-artists {
	background: rgba(blue, 0.3);
	height: 100%;

	h3 {
		margin-top: 0;
	}

	li {
		display: inline-block;
		margin-right: 10px;
  	margin-top: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}