//Global styles
body {
	background: white;
	color: black;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

//Colours
$spotify_green : rgb(108, 188, 47);
a {
	color: $spotify_green;

	&:hover {
		color: $spotify_green;
	}
}

* {
	box-sizing: border-box;
}

ul, li {
	list-style: none;
}

.wrapper {
	margin: auto;
	height: 100%;
	position: absolute;
	width: 100%;
	background: rgba(blue, 0.3);
}



.main {
	position: absolute;
	right: 0;
	width: 70%;
	height: 100%;
	padding: 10px;
}


.artist-pic {
	height: 70px;
	width: 70px;
	border-radius: 40px;
	display: inline-block;
	border: 2px solid black;
}


