
/*  Base styles, Colours, variables etc.
/* ======================================= */

/* Mini Colour variables as defined in the style guide */

$mini-black:        #000;
$mini-white:        #FFF;
$mini-blue:         #0099FF;
$mini-red:          #CC0000;
$mini-grey-01:      #A7A7A7;
$mini-grey-02:      #666;
$mini-grey-03:      #0F0F0F;
$mini-grey-04:      #1D1D1D;
$mini-grey-05:      #161616;
$mini-grey-06:      #333;
$mini-grey-07:      #4A4A4A;
$mini-grey-08:      #121212;


//Break points
$wide-break-point: 768;

$max-page-width: 1280;