//Global styles
body {
	background: white;
	color: black;
	width: 100%;
}

* {
	box-sizing: border-box;
}

.wrapper {
	margin: auto;
	height: 100%;
	position: absolute;
	width: 100%;
	background: rgba(blue, 0.8);
}

.recent-searches {
		background: rgba(pink, 0.5);
		
		ul {
			text-align: center;
		}
		li {
			width: 18%;
			display: inline-block;
		}

		.artist-pic {
			height: 45px;
			width: 45px;
		}
}

.left-bar {
	border-right: 1px solid grey;
	width: 25%;
	position: absolute;
	height: 100%;
	padding: 10px;
	background: rgba(red, 0.5);

	header {
		background: rgba(yellow, 0.5);
		input[type="text"] {
			width: 60%;
			display: inline-block;
		}

		input[type="submit"] {
			width: 20%;
			display: inline-block;
		}
	}

	
}

.main {
	position: absolute;
	right: 0;
	width: 75%;
	height: 100%;
	padding-left: 20px;
}

.results {
	text-align: left;
	background: rgba(orange, 0.5);
}

.artist-pic {
	height: 70px;
	width: 70px;
	border-radius: 40px;
	display: inline-block;
}

.info-wrapper	{
	background: rgba(green, 0.5);

	.img-wrapper {
		display: inline-block;
		width: 10%;
		vertical-align: top;
	}

	.text-wrapper {
		display: inline-block;
		width: 80%;
	}
}

.similar-artists {
	background: rgba(white, 0.5);

	li {
		display: inline-block;
		margin-right: 10px;
	}
}

.player-wrapper {
	background: rgba(yellow, 0.5);
}